/* MEDIA QUERIES */

/*============================== DESKTOP ==================================*/

@media screen and (min-width: 1024px) {
  /* LODGING */
  .lodging-info h3 {
    font-size: 13px;
    margin-left: 15px;
    margin-top: 10px;
  }

  .lodging-info p {
    font-size: 15px;
    padding-top: 5px;
    margin-left: 15px;
  }

  /* ASIDE */
  .aside-title h2 {
    font-size: 18px;
  }

  .aside-content {
    width: 275px;
    margin-left: 0;
  }
  .aside-card img {
    width: 100px;
  }
  .card-info {
    font-size: 0.7em;
    margin-right: 20px;
  }

  .card-info h3 {
    font-size: 1.3em;
  }

  .card-info p {
    font-size: 1.2em;
  }

  .card-star-icons {
    margin-bottom: 0;
    margin-top: 40px;
  }

  /* FOOTER */
  #footer-container {
    width: 95%;
  }
}

/*============================== TABLETTE ================================*/

@media screen and (min-width: 765px) and (max-width: 1023px) {
  /* SEARCH */
  #search-map .search-text {
    position: relative;
    right: 5px;
    margin-right: 0px;
    width: 60%;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
  }

  #search-spot-min {
    display: none;
  }

  .search-icons {
    color: #fff;
    font-size: 15px;
  }

  /* FILTER */
  .filter-container h1 {
    margin-top: -20px;
  }

  .filter-criteria {
    margin-bottom: 20px;
  }

  .animal {
    margin-left: 83px;
  }

  /* RESIDENCE SECTION */
  #residence {
    display: flex;
    flex-direction: column-reverse;
  }

  /* LODGING */
  .lodging {
    background-color: #fff;
    width: 100vw;
    margin-left: -40px;
  }

  /* ASIDE */
  .aside {
    width: 100vw;
    margin-bottom: 50px;
    margin-left: -40px;
    padding: 30px 40px;
  }

  .aside-content {
    width: 100%;
  }

  .card-info {
    margin-left: 140px;
  }

  /* ACTIVITIES SECTION */
  #activities {
    margin-right: -3%;
  }

  /* FOOTER */
  #footer-container {
    width: 95%;
  }

  .footer-nav h3 {
    font-size: 17px;
  }

  .footer-annex {
    font-size: 15px;
  }
}

/*================================= MOBILE ===============================*/

@media screen and (max-width: 764px) {
  /* BODY */
  .global-container {
    padding-left: 0;
    padding-right: 0;
  }

  /* HEADER */
  header {
    margin: 15px;
    padding: 15px;
  }

  /* NAV */
  .menu-container {
    display: block;
  }

  .main-nav {
    order: 3;
    width: 100vw;
    margin-left: -35px;
    margin-right: -35px;
    margin-bottom: 20px;
  }

  .main-nav li {
    margin-top: 35px;
    margin-left: 0;
    border-bottom: 2.5px solid #f2f2f2;
    padding-bottom: 15px;
  }

  .main-nav .item:hover {
    border-top: none;
  }

  .menu-item {
    text-align: center;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 25px;
  }

  .menu-item:hover {
    border-top: none;
    color: #0065fc;
    border-bottom: 3px solid #0065fc;
  }

  .signin {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    bottom: 160px;
    margin-top: 30px;
  }

  /* TEXT */
  .main-container {
    position: relative;
    top: 0;
  }

  /* SEARCH */
  .search-container {
    margin-top: 30px;
  }

  #search-spot {
    display: none;
  }

  #search-map .search-text {
    position: relative;
    right: 5px;
    margin-right: 0px;
    width: 75%;
    height: 50px;
    border: 1px solid #f2f2f2;
    font-size: 18px;
    font-weight: bold;
  }
  #search-spot-min {
    position: relative;
    bottom: 50px;
    left: 80%;
    display: block;
    background-color: #0065fc;
    height: 50px;
    width: 50px;
    border-radius: 15px;
    line-height: 50px;
    border: none;
    cursor: pointer;
  }

  .search-icons {
    color: #fff;
    font-size: 15px;
  }

  /* FILTER */
  .filter-container {
    display: inline-block;
    margin-top: -20px;
  }

  .filter-first {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .filter-criteria {
    display: block;
    margin-top: 20px;
    margin-left: 0;
  }

  .eco {
    width: 160px;
  }

  .family {
    margin-left: 10px;
  }

  .filter-name {
    font-size: 13px;
  }

  /* INFOS */
  .infos {
    margin-top: 29px;
  }

  .infos .news {
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 10px;
  }

  /* RESIDENCE SECTION */
  .main {
    padding: 0;
  }

  /* LODGING */
  #residence {
    display: flex;
    flex-direction: column-reverse;
  }

  .lodging {
    background-color: #fff;
  }

  .lodging h2 {
    padding-left: 7px;
  }
  .lodging-container {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }

  .lodging-card {
    width: 83vw;
    margin-bottom: 10px;
  }

  #show {
    margin-top: 25px;
  }

  /* ASIDE */
  .aside {
    width: 100vw;
    margin: 25px 0;
    padding: 30px 40px;
  }
  .aside-content {
    width: 97%;
  }

  .card-info {
    margin-left: 150px;
  }

  /* ACTIVITIES SECTION */
  .activities-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 35px;
    align-items: center;
    height: 80rem;
  }

  #activities h2 {
    margin-left: 35px;
    margin-top: 20px;
    margin-bottom: 0;
  }

  .activity {
    flex-basis: 100%;
    width: 100%;
    margin: 15px;
  }

  /* FOOTER */
  footer {
    height: 450px;
  }

  #footer-container {
    display: flex;
    flex-direction: column;
  }

  .footer-nav h3 {
    font-size: 20px;
  }

  .footer-annex {
    font-size: 18px;
  }
}

@media screen and (max-width: 416px) {
  /* BODY */
  .global-container {
    margin-left: -10px;
  }

  /* NAV */
  .signin a {
    padding: 0px;
    font-weight: bold;
    color: #0065fc;
  }
  /* TEXT */
  .main-container h1 {
    font-size: 22px;
  }

  /* ASIDE */
  .card-info h3 {
    font-size: 15px;
  }

  .card-info p {
    font-size: 12px;
  }
}

@media screen and (max-width: 376px) {
  /* TEXT */
  .main-container h1 {
    font-size: 20px;
  }

  .card-info h3 {
    font-size: 13px;
  }

  .card-info p {
    font-size: 10px;
  }
}
