/*========== GLOBAL STYLE ==========*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #0065fc;
}

html,
body {
  font-family: "Raleway", sans-serif;
}

.global-container {
  max-width: 1440px;
  margin: 0 auto;
}

/*************************** HEADER **************************/

/* NAV */

header {
  margin: 25px 15px 0 15px;
  padding: 15px 20px 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  min-width: 280px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  float: left;
  height: 50px;
  width: 50px;
}

.menu-container {
  display: flex;
}

.main-nav {
  display: flex;
}

.signin a {
  padding: 0 20px;
  font-weight: bold;
  color: #0065fc;
}

.item {
  padding: 53px 20px 10px 20px;
}

.item:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

/* TEXT */

.main-container {
  position: relative;
  top: 70px;
}

.main-container h1 {
  font-size: 25px;
}

.main-container p {
  margin-top: 20px;
}

/* SEARCH */

.search-container {
  margin-top: 90px;
}

#search-map .gps {
  background-color: #f2f2f2;
  height: 50px;
  width: 50px;
  margin: 0px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

#search-map .search-text {
  position: relative;
  right: 5px;
  margin-right: 0px;
  width: 200px;
  height: 50px;
  border: 1px solid #f2f2f2;
  font-size: 18px;
  font-weight: bold;
  padding-left: 10px;
}

input::placeholder {
  position: relative;
  color: black;
  font-family: "Raleway";
}

input::-moz-placeholder {
  opacity: 1;
}

.search-text:focus {
  outline: none;
}

#search-spot {
  margin-left: -10px;
  width: 120px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
  background-color: #0065fc;
  color: #fff;
  border: none;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}

#search-spot:focus {
  outline: none;
}

#search-spot-min {
  display: none;
}

/* FILTER */

.filter-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 25px;
}

.filter-container h1 {
  font-size: 17px;
}

.filter-first {
  display: flex;
}

.filter-criteria {
  margin-left: 30px;
  border: 3px solid #f2f2f2;
  border-radius: 30px;
  width: 170px;
  height: 50px;
}

.filter-criteria:hover {
  background: #deebff;
  border-color: #deebff;
}

.filter-criteria .filter-icons {
  background-color: #deebff;
  color: #0065fc;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  margin: -2px 0 0 -3px;
}

.filter-criteria .filter-name {
  text-decoration: none;
  color: #000;
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
}

.family {
  width: 145px;
}

.animal {
  width: 220px;
}

/* INFOS */

.infos {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.infos .news {
  border: 2px solid #f2f2f2;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 25px;
  text-align: center;
  color: #0065fc;
}

.infos p {
  margin-left: 15px;
  font-size: 16px;
}

/************************* RESIDENCE SECTION ***********************/

main {
  padding: 30px;
}

#residence {
  display: flex;
  align-items: stretch;
}

/* LODGING */

.lodging {
  background-color: #f2f2f2;
  height: auto;
  margin: 0 auto;
  padding: 25px;
  border-radius: 15px;
  margin-bottom: 25px;
}

.lodging h2 {
  padding-left: 20px;
  font-size: 22px;
}

.lodging-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 20px;
  padding-top: 20px;
}

.lodging-card {
  flex: 30%;
  margin-top: 25px;
  height: 210px;
  margin-left: 17px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 6px 3px #7a7a7a4b;
}

.lodging-card img {
  height: 115px;
  width: 100%;
  margin: 5px;
  padding-right: 10px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 20px;
}

.lodging-info h3 {
  font-size: 15px;
  margin-left: 15px;
  margin-top: 10px;
}

.lodging-info p {
  font-size: 15px;
  padding-top: 5px;
  margin-left: 15px;
}

.star-icons {
  display: inline-block;
  position: relative;
  left: 15px;
  font-size: 12px;
}

.full {
  color: #0065fc;
}

.empty {
  color: #f2f2f2;
}

#show {
  margin-left: 25px;
  margin-top: 50px;
}

#show a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

/* ASIDE */

.aside {
  height: 633px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 0 15px 0 15px;
  padding: 25px 15px 0 15px;
}

.aside-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aside-title h2 {
  font-size: 22px;
}

.symbol {
  font-size: 25px;
  margin-right: 10px;
}

.aside-content {
  width: 340px;
  height: 145px;
  background-color: #fff;
  box-shadow: 0 0 7px 4px #b1b1b14b;
  border-radius: 15px;
  margin-top: 35px;
  margin-left: -5px;
}

.aside-card img {
  object-fit: cover;
  width: 125px;
  height: 135px;
  margin: 5px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-top: -125px;
  margin-left: 120px;
}

.card-info h3 {
  font-size: 16px;
}

.card-info p {
  font-size: 15px;
  padding-top: 7px;
}

.card-star-icons {
  margin-top: 40px;
  font-size: 12px;
}

/********************** ACTIVITIES SECTION *********************/

#activities {
  margin-right: -1%;
}

.activities-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 470px;
  margin-bottom: 30px;
}

#activities h2 {
  font-size: 22px;
  margin: 40px 0;
}

.activity {
  width: 23%;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 15px 15px;
  box-shadow: 0 0 7px 4px #b1b1b14b;
}

.picture {
  flex: 1;
  border-radius: 15px 15px 0 0;
}

.activity h6 {
  font-size: 1rem;
  margin: 17px;
}

.activity2 {
  flex-basis: 55%;
}

.activity3 {
  flex-basis: 38%;
}

.activity5 {
  flex-basis: 45%;
}

.activity6 {
  flex-basis: 48%;
}

.activity1 .picture {
  background-image: url("../img/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activity2 .picture {
  background-image: url("../img/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activity3 .picture {
  background-image: url("../img/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activity4 .picture {
  background-image: url("../img/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activity5 .picture {
  background-image: url("../img/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.activity6 .picture {
  background-image: url("../img/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

/************************** FOOTER *************************/

footer {
  display: flex;
  background-color: #f2f2f2;
  height: 200px;
}

#footer-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding-top: 40px;
}

.footer-nav {
  flex: 1;
  padding-right: 10px;
  line-height: 30px;
}
